@font-face
{
	font-family: 'Nunito';
	src: url("../text/nunito.woff2");
	font-display: swap;
}
body
{
	font-family: Nunito;
	margin: 0;
	background-color: hsl(240, 13%, 13%);
	color: white;
}
h1, h2
{
	text-align: center;
}
