@media screen and (min-width:1100px)
{
	body
	{
		display: grid;
		grid:
			'name subtitle'
			'bio portfolio'
			'skills experience'
			'contact education'
			/ 1.2fr 2fr;
		font-size: larger;
		max-width: 1200px;
		width: 100%;
		margin: 2em auto;
		grid-gap: 1em 10em;
		border-radius: 10px;
		border: 1px solid white;
		padding: 2em 3em;
	}
	cv-section
	{
		padding: 0;
	}
	h1
	{
		grid-area: name;
		margin: 0;
		place-self: center center;
	}
	h2
	{
		grid-area: subtitle;
	}
	cv-bio
	{
		grid-area: bio;
	}
	cv-translator
	{
		display: none;
		place-self: center end;
		grid-area: translator;
	}
	cv-section:nth-of-type(1)
	{
		grid-area: skills;
	}
	cv-section:nth-of-type(2)
	{
		grid-area: portfolio;
	}
	cv-section:nth-of-type(3)
	{
		grid-area: experience;
	}
	cv-section:nth-of-type(4)
	{
		grid-area: education;
	}
	cv-section:nth-of-type(5)
	{
		grid-area: contact;
	}
}
