@media print
{
	body
	{
		width: 209mm;
		font-size: 11px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: 'name .' 'bio projects' 'skills experience' 'contact education';
		grid-gap: 0 12em;
		padding: 3em 6em;
	}
	cv-section
	{
		padding: 0;
		width: 100%;
	}
	cv-translator
	{
		display: none;
	}
	h1
	{
		grid-area: name;
		place-self: center center;
	}
	cv-bio
	{
		border: none;
		grid-area: bio;
	}
	cv-section:nth-of-type(1)
	{
		grid-area: skills;
	}
	cv-section:nth-of-type(2)
	{
		grid-area: projects;
	}
	cv-section:nth-of-type(3)
	{
		grid-area: experience;
	}
	cv-section:nth-of-type(4)
	{
		grid-area: education;
	}
	cv-section:nth-of-type(5)
	{
		grid-area: contact;
	}
}
